body {
    margin: 0;
    background: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#verticalButtons {
    display: flex;
    flex-direction: column;
}

#road {
    background: lightgray;
}

#network {
    background: lightgray;
}